# Tuples

- Ordered collections of items
- Immutable
- Imuutability differentiates them from lists

In [3]:
# Creating a tuple

empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [9]:
lst = list()
print(type(lst))
print(lst)
tpl = tuple()
print(tpl)
print(type(tpl))

<class 'list'>
[]
()
<class 'tuple'>

In [11]:
numbers = tuple([1,2,3,4,5,6])
numbers

type(numbers)

tuple

In [13]:
eg = list(numbers)
print(type(eg))

<class 'list'>

In [15]:
mixed_tuple = (1, "Hi shaheer", 3,14, True)
print(mixed_tuple)

(1, 'Hi shaheer', 3, 14, True)

In [ ]:
# Accessing tuple elements
numbers = tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [19]:
numbers[4]

5

In [20]:
print(numbers[2])
print(numbers[-1])

3
6

In [26]:
print(numbers[0:4])
print(numbers[::-1])

(1, 2, 3, 4)
(6, 5, 4, 3, 2, 1)

In [28]:
# Tuple Operations 
concatenation_tuple = numbers + mixed_tuple 
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hi shaheer', 3, 14, True)

In [29]:
# Tuple Operations 
numbers * 3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [ ]:
# Immutable nature of tuples
# tuples are immutable meaning their elements cannot be changed once assigned

# --- Important --- /

# List are mutable

lst = [1,2,3,4,5]

print(type(lst))

lst[3] = "Shaheer"
print(lst)

<class 'list'>
[1, 2, 3, 'Shaheer', 5]

In [ ]:
numbers[1] =  "Kamran" # New elements cannot be assigned to a tuple

TypeError: 'tuple' object does not support item assignment

In [40]:
# Tuple Methods
print(numbers)
print(numbers.count(1))
print(numbers.index(3))

(1, 2, 3, 4, 5, 6)
1
2

In [41]:
# Packing an unpacking tuple

packed_tuple = 1, "hi", 3.14
print(packed_tuple)

(1, 'hi', 3.14)

In [42]:
# Unpacking a tuple

a,b,c = packed_tuple

print(a)
print(b)
print(c)

1
hi
3.14

In [45]:
# Unpacking with *
numbers = (1,2,3,4,5,999,8,2,1,6,6)

first, *middle, last = numbers

print(first)
print(middle)
print(last)

1
[2, 3, 4, 5, 999, 8, 2, 1, 6]
6

In [50]:
# Nested Tuple
# Nested List
lst = [[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]

# 
lst[2][0:3]

[1, 'Hello', 3.14]

In [52]:
lst = [[1,2,3,4],[6,7,8,9],(1,"Hello",3.14,"c")]
print(type(lst))

<class 'list'>

In [58]:
nested_tuple = ((1,2,3),('a','b','c'),(True, False))
print(nested_tuple)


# access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][1])

((1, 2, 3), ('a', 'b', 'c'), (True, False))
(1, 2, 3)
b

In [61]:
# Iterating over nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item, end = " ")
    print()

1 2 3
a b c
True False